:root {
	--spacing-xs: var(--spacing-2);
	--spacing-sm: var(--spacing-4);
	--spacing-md: var(--spacing-8);
	--spacing-lg: var(--spacing-16);
	--spacing-xl: var(--spacing-24);
	--spacing-2xl: var(--spacing-32);
}
